#BNA {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 1%;
    background-color: rgba(85, 85, 85, 0.5);
    z-index: 1;

    top: -50px;
    margin-left: 30px;

}

#BNA p {
    padding-left: 10px;
    margin-top: 60px;
}

#BNA img {
    padding-right: 5px;
}

#BNA div {
    margin-top: 90px;
    margin-left: 50px;
}